.main {
  display: flex;
  width: 98%;
  margin-right: 2%;
}

.sidenav {
  width: 40%;
}

.object-info {
  font-size: 0.8em;
  text-align: left;
}

.toggle-button {
  width: 100%;
  background: #72a5f7;
  border: none;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 1px;
  margin-bottom: 2px;
}

.price-selected {
  background: #ACCEF7;
}

.item-selected {
  background: #d2ffc4;
}

button:hover {
  background: #1267f2;
}

.content {
  width: 60%;
}

.budgetContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.budget {
  height: 50vh;
}

.priceList {
  overflow: scroll;
  height: 80%;
}